<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--TaKu SDK通用 必要权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--中国区SDK必要权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:name="com.xiaoyou.adsdkIntegration.demoapp.GlobalApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="24">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- source file: china/network_sdk/baidu/9.391.2/AndroidManifest.xml -->

        <!-- source file: china/network_sdk/csj/6.8.2.0/AndroidManifest.xml -->
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/anythink_bk_tt_file_path" />
        </provider>
        <!-- source file: china/network_sdk/gdt/4.640.1510/AndroidManifest.xml -->

        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/anythink_bk_gdt_file_path" />
        </provider>

        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="applovin.sdk.key"
                android:value="9uHgeBwag3NXva9MC23ToO3q11Ve59bF1uwg4qGltdGmCQ7OSByFZ_3b1ZF7krMlkHQo5gXzIokVDsvg1rwbr-" />

        </activity>
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.InterstitialAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.AppOpenAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.RewardedAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.banner.BannerAdActivityMultiLevel"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Banners"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.banner.ProgrammaticBannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.banner.LayoutEditorBannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.mrecs.MrecAdActivityMultiLevel"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="MRECs"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.mrecs.LayoutEditorMrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.mrecs.ProgrammaticMrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.mrecs.RecyclerViewMrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.nativead.NativeAdActivityMultiLevel"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Natives"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.nativead.TemplateNativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.nativead.ManualNativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.nativead.ManualNativeLateBindingAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.nativead.RecyclerViewNativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
    </application>
</manifest>
