<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.xiaoyou.adsdkIntegration.demoapp.GlobalApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="24">

        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="applovin.sdk.key"
                android:value="9uHgeBwag3NXva9MC23ToO3q11Ve59bF1uwg4qGltdGmCQ7OSByFZ_3b1ZF7krMlkHQo5gXzIokVDsvg1rwbr-" />

        </activity>
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.InterstitialAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.AppOpenAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.RewardedAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.banner.BannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Banners"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.banner.ProgrammaticBannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.banner.LayoutEditorBannerAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.mrecs.MrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="MRECs"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.mrecs.LayoutEditorMrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.mrecs.ProgrammaticMrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.mrecs.RecyclerViewMrecAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.nativead.NativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Natives"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.nativead.TemplateNativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.nativead.ManualNativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.nativead.ManualNativeLateBindingAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
        <activity
            android:name="com.xiaoyou.adsdkIntegration.demoapp.ads.max.nativead.RecyclerViewNativeAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.xiaoyou.adsdkIntegration.demoapp.MainActivity" />
    </application>
</manifest>
